.rowContent
{
    margin-bottom: 5px;
}
.noticeItem li
{
   float:none;
   margin:10px 0;
}
.noticeItem li a,.noticeItem li a:link
{
    color:#555;
    
    }
.imageswitch, .notice
{
    float: left;
}

.imageswitch
{
    margin-left: 20px;
}


.noticeItem
{
     border: solid 1px #B4CC38;
    padding: 7px;
}
.noticeItem li
{
    float: none;
}
.column
{
    padding: 8px 0;
    width: 32%;
    float: left;
    text-align: center;
    margin-right: 4px;
    border: solid 1px #ddd;
     height:420px;
   
}
.column a
{
    text-align: center;
    font-size: 2.5em;
    color: #6A791A;
    display: inline-block;
    padding: 10px 30px;
}
.column a:hover
{
    background-color: #eee;
   
}

    .column  ul li, .column div
    {
         font-size:1.2em;
    
     color:#333;
     text-align:left;
     font-weight:600;
      padding:3px 20px 3px 40px;
        }
    .column ul li
    {
float:none;
        }



